<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gd.form">
    <!-- 地图SDK（包含其搜索功能）需要的基础权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 地图包、搜索包需要的基础权限 -->
    <!-- 定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--如果设置了target >= 28 如果需要启动后台定位则必须声明这个权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加这个权限声明-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a640c1c964abd678bd84032f0ad43bd0" />
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.XhglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FxglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GhgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FfglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GcglActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DepartActivity" />
        <activity
            android:name=".activity.JobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SgbhActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SdwbActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JobsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GdCheckFormActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.HandOverActivity" />
        <activity
            android:name=".activity.TaskActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipelineDepthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeightCarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.EndorsementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HikingCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FlyRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaterInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConcealedWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HighZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoMonitoringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StandingBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeMarkerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeMarkerMeasureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MonitoringRepairActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZoneElectricityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InsulatingPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EngineeringFieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeasureRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeMeasureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.PipeTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeMeasureDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipePrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddPrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeStandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddStandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeWindVaneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddWindVaneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddAdvocacyBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeAdvocacyBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeWaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddWaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddWellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeWellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddOtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeOtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeTunnelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeBuildingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeHighZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchBuildingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchHighZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchTunnelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveWaterProtectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveTunnelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveWeightCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveBuildingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveHikingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveWaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveHiddenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveHighZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveElectricity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveInsulationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OverTimeTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoApproveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddWaterInsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeBaseInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PipeManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HighZoneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BuildingListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TunnelListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaterProtectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WindVaneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdvocacyBoardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoMonitorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OtherListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TunnelStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationByIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationByFullParamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefuseTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDispatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaitingHandleTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchTaskResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ElectricityRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationStakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ApproveElectricityRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadEventListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadEventStakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddEventRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EventHistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaterStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SomeOthersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddProjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectRecordListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddProjectRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationWaitingApproveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StandardFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StandardFileListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadStandardFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KpiAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KpiDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KpiListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KpiUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StationWaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>